<!DOCTYPE html>
{% load static %}
<html>
    <head>

        <script type="text/javascript" src='{% static "js/jquery-1.11.2.min.js" %}'></script>
        <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>

        <link rel="stylesheet" type="text/css" href='{% static "CSS/bootstrap.css" %}' media="screen" />
        <link href='{% static "CSS/loading.css" %}' rel="stylesheet" type="text/css"/>

<script type="text/javascript">

        function submit1(){
        var par1=document.getElementById("title").value;

        var par2=document.getElementById("genre").value;
        var par3=document.getElementById("director").value;
        var select=document.getElementById("actors");
        var par4="";
        for (var i=0,len=select.options.length;i<len;i++){
            if(select.options[i].selected===true)
            par4=par4+(select.options[i].value)+",";
        }

        var par5=document.getElementById("years").value;
        var par6=document.getElementById("keyword").value;
        console.log(par4);
        $.get("/sendrequest/",{'par1':par1,'par2':par2,'par3':par3,'par4':par4,'par5':par5,'par6':par6}, function(ret){

                    console.log(ret);
                    if (ret.indexOf('+')>0){
                        var res=ret.split("+");
                        console.log(res.length);
                        var htmlcontent=""
                        for (var i =0;i<res.length;i++){
                            var summaryurl = "http://localhost:8080/exist/rest/db/movies/movies.xml?_query=//movie[title=\""+res[i]+"\"]/summary/text()"
                            var newsummaryurl = "/Xquerytest/summary/"+res[i];
                            var herfcontent = '<a href=\''+newsummaryurl+'\'>'+res[i]+'</a>'
                            htmlcontent = htmlcontent+ herfcontent+ '<br>'

                        }
                        $("#result").html(htmlcontent);
                    }

                    else {
                    var summaryurl= "http://localhost:8080/exist/rest/db/movies/movies.xml?_query=//movie[title=\""+ret+"\"]/summary/text()"
                    var newsummaryurl = "/Xquerytest/summary/"+ret;
                    $("#result").html('<a href=\''+newsummaryurl+'\'>'+ret+'</a>');
                    }

                });
            return true;
        }

</script>
        <style>
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
    </head>
    
    <body >

    <div class="col-lg-8 col-center-block" style='margin-left:auto;margin-right:auto;' >
        <h1 align="center"  >Assignment1</h1>
         <form class="form-horizontal">

            <!--First name:<br>-->
        <!--<input type="text" name="firstname" value="Mickey">-->
            <!--<br>-->
            <!--Last name:<br>-->
        <!--<input type="text" name="lastname" value="Mouse">-->
             <br>
         <div class="form-group">

             <label  class="col-lg-2 control-label" style="">Title:</label>
          <div class="col-lg-10">
        <select class="form-control" id="title">
        <option value="">please slecte a title</option>
            {% for element in title %}
　       <option value="{{element.text}}">{{ element.text }}</option>
            {%endfor%}
        </select>

             </div>
 </div>
               <div class="form-group">
             <label  class="col-lg-2 control-label" style="">Genre:</label>
             <div class="col-lg-10">
        <select class="form-control" id="genre">
            <option value="">please slecte a genre</option>
            {% for element in genre %}
　       <option value="{{element.text}}">{{ element.text }}</option>
            {%endfor%}
        </select>
            </div>
 </div>
             <div class="form-group">
             <label  class="col-lg-2 control-label" style="">Director:</label>
        <div class="col-lg-10">
        <select class="form-control" id="director">
            <option value="">please slecte a director</option>
            {% for element in director %}
　       <option value="{{element}}">{{ element }}</option>
            {%endfor%}
        </select>
             </div>
              </div>
            <br>


     <div class="form-group">
     <label  class="col-lg-2 control-label" style="">Actors:</label>
                 <div class="col-lg-10">
        <select multiple  class="form-control" id="actors" size="12">

            {% for element in actors %}
　       <option value="{{element}}">{{ element }}</option>
            {%endfor%}
        </select>
           </div>
         </div>

        <div class="form-group">
         <label  class="col-lg-2 control-label" style="">Years:</label>
             <div class="col-lg-10">
        <select class="form-control" id="years">
            <option value="">please slecte a year</option>
            {% for element in years %}
　       <option value={{element}}>{{ element}}</option>
            {%endfor%}
        </select>
        </div>
            </div>
            <div class="form-group">
             <label  class="col-lg-2 control-label" style=""> Key word in Summary:</label>
                <div class="col-lg-10">
        <input  class="form-control input-lg" type="text" id="keyword" placeholder="Key-words"></textarea>

            <br>
                    <br>
                 <button type="button" class="btn btn-danger" onclick="submit1()">Submit</button>
            </div>
            </div>
              <div class="form-group">
                   <label  class="col-lg-2 control-label"></label>
                 <div class="col-lg-10">
                    <div class="col-lg-10" style="background:white; font-size:20px" id="result"></div>
                     </div>
                  </div>
             <div style="height: 100px;" class="col-lg-10">
             </div>
</form>

</div>

    </body>
</html>