<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Music list</title>
    <script type="text/javascript" src='{% static "js/jquery-1.11.2.min.js" %}'></script>
    <link href='{% static "CSS/semantic.min.css" %}' rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src='{% static "js/semantic.min.js" %}'></script>
    <script type="text/javascript">
    function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=200,width=150');
    if (window.focus) {newwindow.focus()}
    return false;
    }
    </script>

</head>
<body>
    {{data}}
</body>
</html>