{% load static %}
<html>
<head>
    <script type="text/javascript" src='{% static "js/jquery-1.11.2.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "CSS/bootstrap.css" %}' media="screen" />
    <link href='{% static "CSS/loading.css" %}' rel="stylesheet" type="text/css"/>
                    <style>
    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    </style>
    <script type="text/javascript">

    </script>
</head>
<body>
    <ul class="pager" >
          <li><a href="/sha_index/">home</a></li>
        </ul>
    <div id = "title">
        <h1 align="center">{{title.0}}</h1>
    </div>
    <h3 align="center">By William Shakespeare</h3>
    <div class="col-lg-4 col-center-block">
            <div id = "staff">
        {% for i in staff %}
            <p>{{ i.1 }}:{{ i.0 }}</p>
        {% endfor %}
    </div>
    </div>

    <hr>
    <div id=" body" class="col-lg-5 col-center-block">
    <table class="ui table">
                    <thead>
                    </thead>
                    <tbody>
                        {% for i in body %}
                        <tr>

                            <td><a href="/sha_poetry_list/{{filename}}@{{forloop.counter}}">Stanza {{ forloop.counter }}</a></td>
                            <td>{{i}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
        </table>
    </div>
</body>

</html>