<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "CSS/bootstrap.css" %}' media="screen" />
    <link href='{% static "CSS/loading.css" %}' rel="stylesheet" type="text/css"/>
                        <style>
    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    </style>
    <title></title>
</head>
<body>
    <ul class="pager" >
          <li><a href="/sha_index/">home</a></li>
        </ul>
<hr>
    <div class="col-lg-4 col-center-block">
        {%for i in listcontent%}
        <p>{{ i }}</p>
        {% endfor %}
    </div>

<hr>
</body>
</html>