<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src='{% static "js/jquery-1.11.2.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "CSS/bootstrap.css" %}' media="screen" />
    <link href='{% static "CSS/loading.css" %}' rel="stylesheet" type="text/css"/>
                <style>
    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    </style>
    <script type="text/javascript">

    </script>
</head>
<body>
         <ul class="pager" >
          <li><a href="/sha_index/">home</a></li>
        </ul>

    <div id = "title">
            <h1 align="center">{{title.0}}</h1>
        </div >
        <h3 align="center">By William Shakespeare</h3>

        <div class="col-lg-4 col-center-block" id = "staff" >
            {% for i in staff %}
                <p>{{ i.1 }}:{{ i.0 }}</p>
            {% endfor %}
        </div>

        <hr class="line"/>
        <div id=" body" class="col-lg-8 col-center-block">
            {% for act in body%}
            <h4>
                Act {{forloop.counter}}
            </h4>
            <div class=" sc">
                {% for sc in act %}
                <a href="/sha_npoetry_list/{{filename}}@{{forloop.parentloop.counter}}@{{forloop.counter}}">
                    Act{{forloop.parentloop.counter}},Scene {{forloop.counter}}
                </a>

                    <p>
                        {{sc.0}}
                    </p>
                    <p>
                        Speaker:{{sc.1}}
                    </p>

                {% endfor %}
            </div>

            {% endfor%}
    </div>
</body>
</html>