<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href='{% static "CSS/loading.css" %}' rel="stylesheet" type="text/css"/>
    <title></title>
</head>
<body>
        <a href="/sha_index/">
            home
            </a>
    <h1>{{act_sc}}</h1>
    <div id="place"></div>
    <div id="dialogue">
        {% for i in content %}
        <h3>{{i.0}}</h3>
            {% for t in i.1 %}
            <p>{{t}}</p>
            {%endfor%}
        {%endfor%}
    </div>
</body>
</html>