<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Shakespeare's Works </title>
    <script type="text/javascript" src='{% static "js/jquery-1.11.2.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "CSS/bootstrap.css" %}' media="screen" />
    <link href='{% static "CSS/loading.css" %}' rel="stylesheet" type="text/css"/>
    <script type="text/javascript">

    </script>

</head>
<body>
    <h1 align="center">Shakespeare's Works in TEI</h1>
    <div id="content">
        <h2 align="center">List of Works</h2>
        <table class="table table-striped table-hover">
                    <thead>
                        <tr class="info">
                            <th></th>
                            <th>Title</th>
                            <th>Work Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in title %}
                        <tr>
                            <td></td>
                            <td><a href="{{i.2}}">{{i.0}}</a></td>
                            <td>{{i.1}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
        </table>
    </div>
</body>
</html>