{% load static %}
<html>
<head>
    <script type="text/javascript" src='{% static "js/jquery-1.11.2.min.js" %}'></script>
    <link href='{% static "CSS/loading.css" %}' rel="stylesheet" type="text/css"/>
    <script type="text/javascript">

    </script>
</head>

<body >
<h1 align="center">Summary</h1>
<div style="text-align:center;">
    <a style="text-align:center;" href="/eXist/">back</a>
</div>

<hr/>
<div style="width:600px;margin-left:auto;margin-right:auto;">
   {{content}}
</div>
</body>

</html>